.container {
  margin: auto;
  width: 400px;
  height: 700px;
  min-height: 500px;
  background-color: #fdfce0;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
